<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="org.viscereality.CHAIN_COMMAND" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:appCategory="productivity"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|density|uiMode|locale|fontScale|layoutDirection"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.viscereality.questionnaires2d.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="run"
                    android:scheme="myquestionnaire2d" />
            </intent-filter>
            <layout
                android:defaultWidth="1280dp"
                android:defaultHeight="800dp"
                android:minWidth="640dp"
                android:minHeight="480dp" />
        </activity>
        <activity
            android:name=".QuestChainBrokerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|density|uiMode|locale|fontScale|layoutDirection"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="org.viscereality.questionnaires2d.BROKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="broker"
                    android:scheme="myquestionnaire2d" />
            </intent-filter>
            <layout
                android:defaultWidth="360dp"
                android:defaultHeight="240dp"
                android:minWidth="320dp"
                android:minHeight="180dp" />
        </activity>
    </application>
</manifest>
