<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />
    <uses-feature android:name="oculus.software.eye_tracking" android:required="false" tools:replace="android:required" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-permission android:name="com.oculus.permission.EYE_TRACKING" tools:node="remove" />

    <application>
        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />
        <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW" />

        <activity
            android:name="org.questquestionnaire.circletriggerdemo.QuestQuestionnaireUnityActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/BaseUnityGameActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
